.navbar-mainDiv {
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
}
.navBar-innerdiv {
  font-size: 14px;
  font-weight: 400;
  color: var(--css-text);
  display: flex;
  align-items: center !important;
}
